In [ ]:
# imports
import math
import numpy as np
from numpy.random import randn
from statsmodels.stats.weightstats import ztest
from statsmodels.stats import weightstats as stests
import pandas as pd

In [ ]:
# Generate a random array of 50 numbers having mean 110 and sd 15
# similar to the IQ scores data we assume above
mean_iq = 110
sd_iq = 15/math.sqrt(50)
null_mean =100
data = sd_iq*randn(50)+mean_iq
# print mean and sd
print('mean=%.2f stdv=%.2f' % (np.mean(data), np.std(data)))

mean=109.47 stdv=2.53

In [ ]:
ztest_Score, p_value= ztest(data,value = null_mean, alternative='larger')
if(p_value <  0.05):
  print("Reject Null Hypothesis")
else:
  print("Fail to Reject NUll Hypothesis")

Reject Null Hypothesis

In [ ]:

# load dataset as pandas dataframe
df = pd.read_csv('bp.csv')
df.head()

,patient_name,patient_ sex,patient_agegrp,patient_bp_before,patient_bp_after
0,1,Male,30-45,142,153
1,2,Male,30-45,163,170
2,3,Male,30-45,143,168
3,4,Male,30-45,153,142
4,5,Male,30-45,146,141

In [ ]:
ztest ,propability_value = stests.ztest(df['patient_bp_before'], x2=None, value=146)
print("Z-Score value:",ztest,"p value:",float(propability_value))
if(propability_value <  0.05):
  print("Reject Null Hypothesis")
else:
  print("Fail to Reject NUll Hypothesis")

Z-Score value: 4.96026583235494 p value: 7.039677630242457e-07
Reject Null Hypothesis

In [ ]:
ztest ,propability_value = stests.ztest(df['patient_bp_after'], x2=None, value=146)
print("Z-Score value:",ztest,"p value:",float(propability_value))
if(propability_value <  0.05):
  print("Reject Null Hypothesis")
else:
  print("Fail to Reject NUll Hypothesis")

Z-Score value: 1.698606365685701 p value: 0.08939337624863362
Fail to Reject NUll Hypothesis

In [ ]:
ztest ,propability_value = stests.ztest(df['patient_bp_before'], df['patient_bp_after'], value=146)
print("Z-Score value:",ztest,"p value:",float(propability_value))
if(propability_value <  0.05):
  print("Reject Null Hypothesis")
else:
  print("Fail to Reject NUll Hypothesis")

Z-Score value: -41.79920983872735 p value: 0.0
Reject Null Hypothesis